.heading{
    font-size: 20px;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    width: 100%;
    font-family: 'Peralta', cursive;
}
.note{
    color: red;
    font-size: 15px;
}
.copy_right_footer{
    text-align: center;
    color: black;
    background-color: grey;
    line-height: 2;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-family: 'Passions Conflict', cursive;
}
canvas{
    border: 10px solid gray;
    border-radius: 20px;
    box-shadow: 15px 15px 15px grey;
 }
